{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Soil Analysis</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Machine Learning Algorithm for Soil Analysis and Classification of Micronutrients in IoT-Enabled 
Automated Farms</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">

	<ul><center>
	<li class="first current_page_item"><a href="{% url 'ProcessDataset' %}"><font size="3" color="yellow">Process Dataset</font></a></li>
	<li class="first current_page_item"><a href="{% url 'runExisting' %}"><font size="3" color="yellow">Existing SVM </font></a></li>
	<li class="first current_page_item"><a href="{% url 'runPropose' %}"><font size="3" color="yellow">Propose ELM </font></a></li>
	<li class="first current_page_item"><a href="{% url 'Graphs' %}"><font size="3" color="yellow">Comparison Graph</font></a></li>
	<li class="first current_page_item"><a href="{% url 'Predict' %}"><font size="3" color="yellow">Predict Fertility</font></a></li>		
	<li class="first current_page_item"><a href="{% url 'index' %}"><font size="3" color="yellow">Logout</font></a></li>
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	 <font size="" color="black"><center>{{ data|safe }}</center></font><br/>
		<img src="data:image/png;base64, {{ img }}" alt="graph" />
<br/><br/>
</body>
</html>